
.comic-container{
    /* border: 1px solid #000; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px 0px;
    padding:1.5rem 2rem;
    background: #f0f0f0;
    border-radius: 1.5rem;
    margin: 3rem auto;
}

.comic-form{
    display: flex;
    padding: 2rem 1rem;
}

.comic-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.comic-form .panel-toggle{
    display: flex;
    justify-content: center;
    width: 100%;
}
.comic-form .panel-toggle button{
    width: 100%;
    border: 1px solid #000;
    cursor: pointer;
    background: red;
    padding: 0.5rem;
}
.comic-form .panel-toggle button:hover:not([disabled]) {
    background: orange !important;
}

.comic-form #form-input{
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    max-height: 10rem;
    outline: none;
    border: 1px solid gray;
}
.generated-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.generated-image >div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    background: #fff;
}
.generated-image > div img{
    width: 100%;
}

.active {
    background: violet !important;
}

.disabled {
    background: yellow !important;
}

.completed {
    background: green !important;
}