:root{
  --primary-color: #212121;
  --text-color: #666666;
  /* --secondary-color: #0092ca; */
  --secondary-color: #a7ece8;
  --grey-color:#535353;
  --bg-color: #2c2c2c;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  background: var(--primary-color);
  min-height: 100vh;   
}

.comics{
  display: flex;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px -2px 7px 0px;
  background: #f0f0f0;
  border-radius: 1.5rem;
  overflow: hidden;
  padding: 2rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.comics .row{
  display: flex;
  width: 100%;
  border: 3px solid #000;
}
.comics .col-md-6{
  display: flex;
  justify-content: center;
  padding: 0;
  width: 50%;
  background: red;
}
.comics .col-md-6 img{
  width: 100%;
  border: 5px solid #000;
}

.empty-images{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-height: 10rem;
}

@media screen and (max-width: 576px){
  .comics {
      border-radius: 0;
      padding: 1rem;
      margin-bottom: 2rem;
    }
}